@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #101b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 24px;
    color: #81b71a;
    margin-top: 0;
}

.left-login > h1 {
    color: #81b71a;
    margin-bottom: 0;
}

.left-login img {
    width: 80%;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #152238;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > img {
    width: 30%;
}

.card-login > h1 {
    color: #81b71a;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}


.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #514869;
    color: #f0ffffde;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    color: #2b134b;
    background: #81b71a;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #81b71a52;
}

@media screen and (max-width: 1000px){
    .img{
        width: 400px;
    }
}

@media screen and (max-width: 900px){
    .left-login h1, p {
        text-align: center;
        font-size: 20px;
    }

    .img{
        display: none;
    }

    .main-login {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-login {
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .left-login h1, p {
        text-align: center;
        /* font-size: 16px; */
    }
}